.right-pane {
  width: 300px;
  border-top: 2px solid #2bff93;
  background-color: #272c44;
  position: absolute;
  top: 70px;
  right: 0;
  height: calc(100vh - 72px);
}

.small-view-mode {
  display: inline-block;
  visibility: hidden;
}

.options-icon {
  padding-top: 2px;
  height: 40px;
}

.right-pane-content {
  padding: 15px;
}

.right-pane-header {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}

.right-pane-option {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.right-pane-option-text {
}

@media (max-width: 768px) {
  .right-pane {
    display: none;
  }

  .small-view-mode {
    visibility: visible;
  }
}
