.subheader-container {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.subheader {
  margin-right: 10%;
  margin-left: 10%;
}

.selectors {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 4px solid #272c44;
  padding: 10px;
  background-color: #2cff93;
}

.selector {
  font-size: 16px;
  height: 30px;
  width: 85px;
}

.seperator {
}

@media (max-width: 768px) {
  .subheader-container {
    grid-template-columns: 1fr;
  }

  .selectors {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .subheader {
    margin: 0;
  }
}
