.header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ff9494;
  padding: 0px 20px 0px 20px;
}

.header-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  gap: 30px;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.header-gamemodes-containers {
  height: 100%;
  cursor: pointer;
  /* display: flex; */
  /* justify-content: flex-end; */
}

.header-gamemodes-containers:hover {
  text-decoration: underline;
}

.header-gamemodes-containers-link {
}

.options-button {
  width: 50px;
  height: 50px;
  /* margin: 10px 10px 0px 0px; */
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #ffffff;

  /* position: absolute;
  top: 70px;
  right: 0;
  padding: 0; */

  /* transition: opacity 0.01s; */
}

.options-button:active {
  opacity: 0.5;
}

.options-icon {
  /* padding-top: 2px; */
  /* height: 40px; */
}

.games-button {
  visibility: hidden;
  display: none;
}

@media (max-width: 560px) {
  .games-button {
    visibility: visible;
    display: unset;
  }

  .header-gamemodes-containers {
    visibility: hidden;
    display: none;
  }
}
