.header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 9px solid #2bff93;
  background-color: #272c44;
  padding: 0px 20px 0px 20px;
}

.header-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.options-button,
.profile-button,
.logo,
.games-button {
  height: 50px;
}

.logo {
  font-size: 20px;
  width: 50px;
  background-color: rgb(39 44 68);
  color: white;
  font-weight: 600;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 28px;

  margin-right: 10px;
}

.header-gamemodes-containers {
  height: 100%;
  cursor: pointer;
  font-size: 20px;
  /* display: flex; */
  /* justify-content: flex-end; */
}

.header-gamemodes-containers:hover {
  border-bottom: 4px solid #2bff93;
  /* text-decoration: underline; */
}

.header-gamemodes-containers-link {
}

.options-button,
.profile-button {
  width: 50px;
  height: 50px;
  /* margin: 10px 10px 0px 0px; */
  padding: 0;
  border: 1px solid #454d7a;
  border-radius: 25px;
  /* background-color: #ff2424; */
  background-color: #454d7a;

  /* position: absolute;
  top: 70px;
  right: 0;
  padding: 0; */

  /* transition: opacity 0.01s; */
}

.profile-icon {
  padding-top: 2px;
  height: 40px;
}

.options-button {
  visibility: hidden;
  display: none;
}

.options-button:active {
  opacity: 0.5;
}

.profile-button:active {
  opacity: 0.5;
}

.games-button {
  visibility: hidden;
  display: none;

  width: 60px;
  background-color: white;
  border: 1px solid lightgrey;

  background-color: #272c44;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.options-dialog {
  position: absolute;
  top: 65px;
  width: 300px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: 3px solid grey;
  box-shadow: 0px 0px 10px black;
}

@media (max-width: 768px) {
  .options-button {
    visibility: visible;
    display: unset;
  }
}

@media (max-width: 560px) {
  .games-button {
    visibility: visible;
    display: unset;
  }

  .header-gamemodes-containers {
    visibility: hidden;
    display: none;
  }
}
