.feedback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

.feedback-correct {
  background-color: green;

}
.feedback-incorrect {
  background-color: red;

}

.exit-button {
  position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
}